body {
	background-color: #EEE5CE;
	;
}
.wy-body-for-nav {
    /* background-image: url("parchmentBackground.jpg");*/
    background-color: #EEE5CE;
}

.wy-nav-content {
    /* background-color: rgb(150, 141, 138); */
    /* background-color: rgba(0,0,0,0);*/
}


	/***********************
	// *           HEADERS
	// *****************************/
	h1,h2,h3,h4 {
		/* font-family : 'MrEavesRemake';*/
		color       : #58180D;
	}

	h1 {
		color       : #58180D;
	}